* {
  background: #f2f0eb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 16;
  background: #f2f0eb;
}

header .navbar {
  position: relative;
  display: flex;
  margin-left: auto;
  letter-spacing: 0.1rem;
  margin-right: 5em;
  gap: 30px;
}

header .navbar li {
  list-style: none;
}

header .navbar li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  opacity: 0.75;
}

header .navbar li a:hover {
  opacity: 1;
}

.navbar-underline {
  --bs-nav-underline-gap: 0.95rem !important;
  --bs-nav-underline-border-width: 0.115rem !important;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  font-weight: 500 !important;
  opacity: 1 !important;
}

.tab-container {
  margin-top: 0;
  position: relative;
  top: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-scroll-tabs li {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.zoom-scroll-tabs li span {
  display: inline-block;
  background: transparent;
  transition: transform 0.15s ease;
  margin: 0;
}

.zoom-scroll-tabs li:hover span {
  transform: translateY(-0.25em);
}

.tab-container ul.flex {
  display: flex;
  width: 100%;
  max-width: 800px;
  list-style-type: none;
  justify-content: center;
}

.w-1-4.active {
  background-color: #00754a;
  color: white;
  border-color: #00754a;
}

.w-1-4 {
  width: 23%;
  text-align: center;
  border: 1px solid;
  transition: transform 0.15s ease;
}

.tracking-wide {
  letter-spacing: 0.175em;
}

.uppercase {
  text-transform: uppercase;
}

.text-xxxs {
  font-size: 0.875rem;
}

.p-2 {
  padding: 0.5rem;
}

.font-semibold {
  font-weight: 600;
}

.containers {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 100%;
  margin: 130px 90px;
}

.product-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-category {
  display: flex;
}

.frappe-content {
  position: relative;
  display: grid;
  width: auto;
}

.frappe-content .frappe-textBox {
  position: relative;
  max-width: 1300px;
  padding-bottom: 15px;
}

.frappe-content .frappe-textBox h2 {
  color: #333;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 500;
}

.frappe-content .frappe-textBox h2 span {
  color: #017143;
  font-size: 1.5em;
  font-weight: 900;
}

.frappe-content .frappe-textBox p {
  color: #333;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
}

.product-img {
  width: 350px;
  border-radius: 3px;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  width: 100%;
}

.overlay-text .overlay-text-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #f2f0eb;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px #000;
  background-color: transparent;
}

.social {
  position: relative;
  z-index: 9;
}

.social li {
  display: inline-block;
}

.social li a {
  display: inline-block;
  transform: scale(0.5);
  color: #212121;
}

.social li:first-child {
  margin-right: 10px;
}

.social li:last-child {
  margin-right: 0;
}

#twitter {
  display: inline-block;
  transform: scale(1.1);
  padding-bottom: 5px;
}

.card {
  text-align: center;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pb-6 {
  padding-bottom: 0.25rem;
}

.overflow-auto {
  overflow: auto;
}

.flex {
  display: flex;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 10px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  margin-right: 10px;
}

@media (max-width: 1205px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 60px;
  }

  header .social {
    display: none;
  }

  header .navbar {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f2f0eb;
    z-index: 11;
  }

  header .navbar.navbar.active li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 10%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 60px;
    margin-left: 0;
    margin-top: 12%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 800px;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.7rem;
  }

  .tracking-wide {
    letter-spacing: 0.175em;
  }

  .frappe-content {
    max-width: 100%;
    width: 970px;
  }

  .frappe-content .frappe-textBox {
    max-width: 90%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2.25em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 1em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card {
    max-width: 85%;
    justify-content: center;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 15px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5px;
  }

  .space-y-4 {
    margin-bottom: 0px;
  }

  .overlay-text {
    align-items: start;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}

@media (max-width: 860px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .navbar.navbar.active li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 60px;
    margin-left: 0;
    margin-top: 12%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 720px;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.7rem;
  }

  .tracking-wide {
    letter-spacing: 0.175em;
  }

  .frappe-content {
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 90%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2.25em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 1em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card {
    max-width: 82.5%;
    justify-content: center;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 15px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5px;
  }

  .space-y-4 {
    margin-bottom: 0px;
  }

  .overlay-text {
    align-items: start;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}

@media (max-width: 790px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 80px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 80px;
    margin-left: 0;
    margin-top: 12%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 550px;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.65rem;
  }

  .tracking-wide {
    letter-spacing: 0.15em;
  }

  .frappe-content {
    flex-direction: column;
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 87.5%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2.35em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 1em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card .product-img {
    max-width: 100%;
    justify-content: center;
  }

  .frappe-content .card img {
    max-width: 100px;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 20px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: inline;
  }

  .space-y-4 {
    margin-bottom: 15px;
  }

  .overlay-text {
    align-items: start;
    text-align: center;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}
@media (max-width: 680px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 55px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 60px;
    margin-left: 0;
    margin-top: 18%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 430px;
  }

  .sandwich-tab {
    width: 30%;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.65rem;
  }

  .tracking-wide {
    letter-spacing: 0.1em;
  }

  .frappe-content {
    flex-direction: column;
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 85%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 0.9em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card .product-img {
    max-width: 100%;
  }

  .frappe-content .card img {
    max-width: 100px;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 18px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: inline;
  }

  .space-y-4 {
    margin-bottom: 15px;
  }

  .overlay-text {
    align-items: start;
    text-align: center;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}

@media (max-width: 540px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 40px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 52px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 40px;
    margin-left: 0;
    margin-top: 20%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 380px;
  }

  .sandwich-tab {
    width: 28%;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.6rem;
  }

  .tracking-wide {
    letter-spacing: 0.1em;
  }

  .frappe-content {
    flex-direction: column;
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 90%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 0.9em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card .product-img {
    max-width: 100%;
    justify-content: center;
  }

  .frappe-content .card img {
    max-width: 100px;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 18px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: inline;
  }

  .space-y-4 {
    margin-bottom: 15px;
  }

  .overlay-text {
    align-items: start;
    text-align: center;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}
@media (max-width: 480px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 40px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 40px;
    margin-left: 0;
    margin-top: 25.5%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 350px;
  }

  .sandwich-tab {
    width: 25%;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.5rem;
  }

  .tracking-wide {
    letter-spacing: 0.1em;
  }

  .frappe-content {
    flex-direction: column;
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 85%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 0.9em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .card .product-img {
    max-width: 100%;
    justify-content: center;
  }

  .frappe-content .card img {
    max-width: 100px;
  }

  .product-img {
    width: 100%;
  }

  .frappe-content .card h3 {
    font-size: 15px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: inline;
  }

  .space-y-4 {
    margin-bottom: 15px;
  }

  .overlay-text {
    align-items: start;
    text-align: center;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}

@media (max-width: 380px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 35px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 35px;
    margin-left: 0;
    margin-top: 30%;
    margin-right: 0;
    margin-bottom: 0;
    width: inherit;
  }

  .tab-container {
    width: 250px;
  }

  .sandwich-tab {
    width: 32.5%;
  }

  .w-1-4 {
    overflow: hidden;
  }

  .text-xxxs {
    font-size: 0.5rem;
  }

  .tracking-wide {
    letter-spacing: 0.1em;
  }

  .frappe-content {
    flex-direction: column;
    max-width: 100%;
  }

  .frappe-content .frappe-textBox {
    max-width: 87%;
  }

  .frappe-content .frappe-textBox h2 {
    font-size: 2em;
    margin-bottom: 13px;
  }

  .frappe-content .frappe-textBox p {
    font-size: 0.9em;
    margin-bottom: 13px;
  }

  .frappe-content .card {
    overflow: hidden;
  }

  .frappe-content .product-category .card .product-img {
    max-width: 100%;
    justify-content: center;
  }

  .frappe-content .card h3 {
    font-size: 15px;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .flex {
    display: inline;
  }

  .space-y-4 {
    margin-bottom: 15px;
  }

  .overlay-text {
    align-items: start;
    text-align: center;
  }

  .overlay-text .overlay-text-title {
    width: 100%;
  }
}
