* {
  background: none;
}

body {
  background-color: #f2f0eb !important;
}

h2 {
  margin-bottom: 0rem !important;
}

.containers {
  display: grid;
  grid-template-columns: 0fr 3.2fr 0fr;
  grid-template-rows: 0fr 0.75fr auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  margin: 0;
  margin-top: 150px;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    ". . ."
    ". title ."
    ". content .";
}

.content {
  grid-area: content;
  background-color: #1e3932;
  height: fit-content;
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 80%;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  text-align: center;
  grid-template-areas:
    "main-title"
    "subtitle";
  grid-area: title;
}

.title .main-title h2 {
  color: #333;
  font-size: 4em;
  font-weight: 500;
}

.title .main-title h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.title .subtitle p {
  color: #333;
}

.subtitle {
  grid-area: subtitle;
  margin-bottom: 10px;
}

.main-title {
  grid-area: main-title;
}

.main-title h2 p {
  margin-bottom: 0rem;
}

.container-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background: transparent;
}

.container-img {
  width: fit-content;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  background: transparent;
}

.container-text h1,
.container-text p {
  color: #f2f0eb;
  background: transparent;
}

.container-text h1 {
  font-size: 42px;
  line-height: 115%;
}

.container-text p {
  font-size: 28px;
  line-height: 115%;
  font-weight: 200;
}

img.product {
  background: transparent;
}

.carousel-container {
  height: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex !important;
  gap: 150px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.carousel-indicators {
  position: fixed !important;
  margin-bottom: 1.5rem !important;
}
