* {
  background: none;
}

body {
  background-color: #f2f0eb !important;
}

h2 {
  margin-bottom: 0rem !important;
}

.containers {
  display: grid;
  grid-template-columns: 0fr 3.2fr 0fr;
  grid-template-rows: 0fr 0.75fr auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  margin: 0;
  margin-top: 150px;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    ". . ."
    ". title ."
    ". content .";
}

.content {
  grid-area: content;
  background-color: #1e3932;
  height: fit-content;
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 80%;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  text-align: center;
  grid-template-areas:
    "main-title"
    "subtitle";
  grid-area: title;
}

.title .main-title h2 {
  color: #333;
  font-size: 4em;
  font-weight: 500;
}

.title .main-title h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.title .subtitle p {
  color: #333;
}

.subtitle {
  grid-area: subtitle;
  margin-bottom: 10px;
}

.main-title {
  grid-area: main-title;
}

.main-title h2 p {
  margin-bottom: 0rem;
}

.container-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background: transparent;
}

.container-img {
  width: fit-content;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  background: transparent;
}

.container-text h1,
.container-text p {
  color: #f2f0eb;
  background: transparent;
}

.container-text h1 {
  font-size: 42px;
  line-height: 115%;
}

.container-text p {
  font-size: 28px;
  line-height: 115%;
  font-weight: 200;
}

img.product {
  background: transparent;
}

.carousel-container {
  height: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex !important;
  gap: 150px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.carousel-indicators {
  position: fixed !important;
  margin-bottom: 1.5rem !important;
}

@media (max-width: 1205px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 60px;
  }

  header .social {
    display: none;
  }

  header .navbar {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle.active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f2f0eb;
    z-index: 11;
  }

  header .navbar.navbar.active li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 10%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
  }

  .title .main-title h2 {
    font-size: 3em;
  }
}

@media (max-width: 860px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .navbar.navbar.active li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 25%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}

@media (max-width: 790px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 80px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 25%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 60px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 55px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 25%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 40px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 52px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 30%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 40px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 35%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}

@media (max-width: 380px) {
  a {
    font-size: 12px;
  }

  section {
    padding: 20px;
  }

  header {
    position: fixed;
    padding: 20px 35px;
    z-index: 16;
    background: #f2f0eb;
  }

  header .logo {
    max-width: 50px;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url(./assets/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 15;
  }

  .toggle .active {
    position: fixed;
    right: 40px;
    background: url(./assets/img/close.png) #f2f0eb;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .navbar.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
  }

  header .menu-active .navbar li a {
    font-size: 1.5em;
    margin: 5px 0;
    margin-left: 0px;
  }

  header .navbar li a {
    margin-left: 0;
  }

  header .navbar {
    margin-left: 0;
  }

  header.menu-active .social {
    position: fixed;
    top: 85%;
    left: 12%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 25px;
    z-index: 12;
  }

  header .social {
    display: none;
  }

  header.menu-active .social #twitter {
    display: inline-block;
    transform: scale(1.1);
    padding-bottom: 4.5px;
  }

  .containers {
    padding-left: 0 !important;
    margin-top: 47.5%;
  }

  .title .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .main-title h2 {
    font-size: 3em;
    width: 80%;
  }

  .title .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title .subtitle p {
    font-size: 1.35em;
    margin-top: 2%;
    line-height: 115%;
    width: 70%;
  }

  .content {
    margin-top: 5% !important;
  }

  .container-content {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 100px;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex !important;
    gap: 0px !important;
    flex-direction: column;
  }

  .container-img img {
    margin-bottom: 2.5em;
  }

  .container-text {
    width: 80%;
  }

  .container-text h1 {
    font-size: 32px;
  }

  .container-text p {
    font-size: 25px;
  }
}
